/* General Changes START*/
* {
    font-family: cursive;

}


.container {
    width: 1100px;
    margin: 10px auto;
    background: #eee;
    padding: 20px;
    border-radius: 10px;
}

.editing {
    outline: none;
    line-height: 25px;
}

/* icon styles START */

.icon-styles {
    transition: .1s;
    cursor: pointer;
    font-size: 30px;
}

.icon-styles:hover {
    transform: scale(1.1);
}

.icon-styles:active {
    transform: scale(.9);
}

.bx-trash:hover {
    color: red;
}

.bx-save:hover {
    color: blue;
}

/* icon styles END */
/* note attributes START */
.note-attributes {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.note-attributes i {
    cursor: pointer;
    font-size: 20px;
}

/* note attributes END */
/* whole note box styles START */
.whole-note-box-styles {
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;

    padding-top: 50px;
}



/* each note box styles START*/
.each-note-box-styles {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-width: 196px;
    max-width: 196px;
    min-height: 196px;
    border: 2px solid rgb(63, 63, 63);
    border-radius: 30px 5px 30px 5px;
    border-color: red rebeccapurple black red;
    padding: 15px;
    box-shadow: 1px 1px 5px rgb(63, 63, 63);

}

/* each note box styles END*/
/* whole note box styles END */
/* General Changes END*/
/* header START */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header h3 {
    font-size: 20px;
    text-transform: uppercase;
}

.header img {
    width: 50px;
    vertical-align: middle;
    border-radius: 20%;

}

/* header END */
/* add new note START */
.add-new-note {
    margin-top: 20px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    gap: 10px;
    width: max-content;
    color: black;
    border-radius: 50px;

}

.add-new-note i:first-of-type {
    color: rgb(29, 29, 29);
}

/* add new note END */