/* font import */
@font-face {
    font-family: Iransans;
    src: url(../fonts/Iranian\ Sans.ttf);
}

/* General Changes START*/

/* all elements */
* {
    font-family: cursive, Iransans;

}

/* body */
body {
    background-image: url(../images/noise\ gray.jpg);
}

/* container */
.container {
    width: 1300px;
    margin: 25px auto;
    background-image: linear-gradient(90deg, #ffffff 10%, #c2e9fb 90%);
    padding: 20px;
    border-radius: 10px;
}

/* editing  */
.editing {
    outline: none;
    line-height: 25px;
    font-size: 20px;
    overflow-y: auto;
    height: 100%;
}

/* icon styles START */
.icon-styles {
    transition: .1s;
    cursor: pointer;
    font-size: 30px;
}

.icon-styles:hover {
    transform: scale(1.2);
}

.icon-styles:active:not(.bx-info-circle) {
    transform: scale(.9);
}

/* add button */
.bxs-plus-circle {
    transition-duration: .2s;
}

.bxs-plus-circle:hover {
    color: green;
}

/* trash and delete all button */
.bx-trash:hover,
.bx-x:hover {
    color: red;
}

/* save button */
.bx-save:hover {
    color: blue;
}

/* hint button */
.hint i:hover {
    color: rgb(189, 189, 189);
}

/* icon styles END */
/* General Changes END*/

/* hint START */
.hint {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    position: relative;
    margin-bottom: 50px;
}

.hint>div::before {
    content: 'click on " x " to delete all notes';
    white-space: pre;
    position: absolute;
    right: -20px;
    top: 3px;
    text-align: left;
    width: fit-content;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    color: black;
    transition-duration: .3s;

    visibility: hidden;
    opacity: 0;
}

.hint>div:hover::before {
    visibility: visible;
    opacity: 1;
    right: 35px;
}



/* hint END */

/* note attributes START */
.note-attributes {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(102, 102, 102);
}

/* note attributes i */
.note-attributes i {
    cursor: pointer;
    font-size: 20px;
}

/* button box */
.button-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

/* button box  i*/
.button-box i {
    padding-right: 10px;
}

/* note attributes END */

/* whole note box styles START */
.whole-note-box-styles {
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 80px;

    padding-top: 50px;
    position: relative;
}

/* each note box styles START*/
.each-note-box-styles {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 230px;
    height: 250px;
    border-radius: 30px 5px 30px 5px;
    padding: 15px;
    box-shadow: 1px 1px 5px rgb(63, 63, 63);
    border: 1px solid rgb(102, 102, 102);


}

/* each note box styles END*/
/* whole note box styles END */

/* add new note START */
.add-new-note {
    margin: 20px 0 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    gap: 10px;
    color: rgb(34, 34, 34);
    border-radius: 50px;

}

.add-new-note>div:first-of-type {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* add new note h2 */
.add-new-note h2 {
    position: relative;
}

.add-new-note h2::before {
    content: '';
    /* position: absolute; */
    width: 10px;
    height: 10px;
    left: 0;
    color: black;
    border-radius: 100%;
}

/* delete all button box */
#delete-all-button-box {
    position: relative;
}

/* delete all confirmation */
#delete-all-confirmation {
    flex-direction: row;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    bottom: 120%;
    left: -150%;
    display: none;

    transition-delay: .2s;
}


#delete-all-confirmation span {
    background-color: rgb(204, 204, 204);
    margin-inline: 3px;
    padding: 7px;
    border-radius: 20px;

    /* Chrome and Opera */
    user-select: none;
    /* Safari */
    -webkit-user-select: none;

    /* Konqueror HTML */
    -khtml-user-select: none;

    /* Firefox */
    -moz-user-select: none;

    /* Internet Explorer/Edge */
    -ms-user-select: none;
}

#delete-all-confirmation span:hover {
    background-color: rgb(136, 135, 135);
}

#delete-all-confirmation span:active {
    background-color: rgb(66, 65, 65);
}

/* add new note END */

/* Media query */

/* for 1024px */
@media only screen and (max-width:1024px) {
    .container {
        width: 900px;
    }

    .whole-note-box-styles {
        gap: 20px;
    }

    .each-note-box-styles {
        width: 220px;
    }
}

/* for 768px */
@media only screen and (max-width:768px) {
    .container {
        width: 650px;
    }

    .each-note-box-styles {
        width: 220px;
    }

    .whole-note-box-styles {
        gap: 30px;
    }
}

/* for 425px */
@media only screen and (max-width:425px) {
    .container {
        width: 350px;
    }

    .each-note-box-styles {
        width: 250px;
    }

    .add-new-note {
        margin: 20px 0 0 0;
    }

    .whole-note-box-styles {
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }
}

/* for 320px */
@media only screen and (max-width:320px) {
    .container {
        width: 290px;
    }

    .whole-note-box-styles {
        padding-left: 10px;
        align-items: center;
        justify-content: center;
    }

    .each-note-box-styles {
        width: 230px;
    }

    .add-new-note {
        margin-top: 30px;
    }

}