/* General Changes START*/
* {
    font-family: cursive;

}

body {
    background: #A9D39E;
}

.container {
    width: 1300px;
    margin: 25px auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
}

.editing {
    outline: none;
    line-height: 25px;
}

/* icon styles START */

.icon-styles {
    transition: .1s;
    cursor: pointer;
    font-size: 30px;
}

.icon-styles:hover {
    transform: scale(1.1);
}

.icon-styles:active {
    transform: scale(.9);
}

#add-todo-note-btn:hover,
#add-upcomming-note-btn:hover {
    color: green;
}

.bx-trash:hover {
    color: red;
}

.bx-save:hover {
    color: blue;
}

/* icon styles END */
/* General Changes END*/
/* hint START */
.hint {
    display: inline;
    font-size: 30px;
    position: relative;
    cursor: pointer;
}

.hint::before {
    content: 'You can press " = " on your keyboard to save';
    position: absolute;
    right:-270px;
    top: 8px;
    text-align: center;
    width: 300px;
    font-size: 13px;
    background-color: rgb(125, 116, 116);
    border-radius: 10px;
    padding: 5px;
    color: white;
    transition-duration: .3s;

    visibility: hidden;
    opacity: 0;
}
.hint:hover::before{
    visibility: visible;
    opacity: 1;
    right:-300px;
}

/* hint END */

/* note attributes START */
.note-attributes {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(125, 116, 116);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    vertical-align: middle;
}

.note-attributes i {
    cursor: pointer;
    font-size: 20px;
}

/* button box */
.button-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.button-box i {
    padding-right: 10px;
}
/* note attributes END */
/* whole note box styles START */
.whole-note-box-styles {
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    padding-top: 50px;
    position: relative;
}

/* each note box styles START*/
.each-note-box-styles {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 250px;
    height: 250px;
    border-radius: 30px 5px 30px 5px;
    padding: 15px;
    box-shadow: 1px 1px 30px rgb(63, 63, 63);
    border: 2px solid black;


}

/* each note box styles END*/
/* whole note box styles END */

/* header START */
.header {
    margin: 25px 70px 0 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header h3 {
    font-size: 20px;
    text-transform: uppercase;
}

.header img {
    width: 50px;
    vertical-align: middle;
    border-radius: 20%;

}

/* header END */
/* add new note START */
.add-new-note {
    margin: 20px 0 0 70px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    gap: 10px;
    width: max-content;
    color: rgb(34, 34, 34);
    border-radius: 50px;

}

.add-new-note h2 {
    position: relative;
}

.add-new-note h2::before {
    content: '';
    /* position: absolute; */
    width: 10px;
    height: 10px;
    left: 0;
    color: black;
    border-radius: 100%;
}


/* add new note END */


#ClearLocalStorage {
    position: absolute;
    top: 10px;
    color: red;
    font-size: 9px;
    cursor: pointer;
    transition-duration: .2s;
}


/* Media query */
/* for 1024px */
@media only screen and (max-width:1024px) {
    .container {
        width: 900px;
    }

    .whole-note-box-styles {
        gap: 30px;
    }
}

/* for 768px */
@media only screen and (max-width:768px) {
    .container {
        width: 650px;
    }

    .whole-note-box-styles {
        gap: 30px;
    }
}

/* for 425px */
@media only screen and (max-width:425px) {
    .container {
        width: 350px;
    }

    .each-note-box-styles {
        min-width: 200px;
        max-width: 200px;
        min-height: 200px;


    }

    .add-new-note {

        margin: 20px 0 0 0;
        display: flex;
        align-items: center;
        vertical-align: middle;
        gap: 10px;
        width: max-content;
        color: black;
        border-radius: 50px;
    }

    .header img {
        width: 30px;
    }

    .whole-note-box-styles {
        flex-direction: column;
        align-items: center;
        padding: 30px;
        gap: 30px;

    }
}

/* for 320px */
@media only screen and (max-width:320px) {
    .container {
        width: 290px;
    }

    /* .whole-note-box-styles {
        gap: 30px;
    } */
    .each-note-box-styles {
        min-width: 180px;
        max-width: 180px;
        min-height: 180px;


    }

    .add-new-note {
        margin: 30px 0 0 0;

    }

    .header {

        gap: 10px;
    }

    .header img {
        width: 20px;
    }

    .header h3 {
        font-size: 12px;
    }
}